body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #628592;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.u {
    text-decoration: underline;
    font-size: 1.5em;
}

.hide {
    display: none;
}

.active {
    background-color: #004E60;
    color: white;
    font-weight: bold;
}

.header {
    position: relative;
    width: 100%;
    margin: 20px;
    text-align: center;
    height: 300px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.login {
    height: 100px;
    width: 50%;
    text-align: center;
    line-height: 1.2;
}

.register {
    height: 100px;
    width: 50%;
    text-align: center;
    line-height: 1.2;
}


.logo {
    display: grid;
    grid-template-columns:35% 60%;
    grid-gap: 5%;
}

.logoColumnLeft {
    align-items: right;
    object-fit: contain;
}

.logoColumnLeft img {
    height: 200px;
    width: 200px;
}

.logoColumnRight {
    justify-items: center;
    text-align: left;
}

.subtitle {
    justify-items: center;
    font-size: 2em;
    width: 80%;
    margin: auto;
    font-family: "Apple Chancery", cursive;
    text-align: right;
    color: white;
}

.headerButtons {
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.recipeDropdown {
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: contain;
}

.recipeDropdown ul {
    font-size: 15px;
    list-style-type: none;
}

.recipeDropdown li {
    background-color: #00A3AD;
    font-weight: bold;
    color: white;
    display: inline;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.recipeDropdown li:hover {
    background-color: #004E60;
    font-weight: bold;
    margin-right: 10px;
}

.recipeDropdown li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.recipeDropdown li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.loginButton {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    object-fit: contain;
    background-color: #00A3AD;
    padding: 10px 15px;
    margin-right: 100px;
    border: none;
    transition: 0.25s;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #004E60;
    color: white;
    font-weight: bold;
}

.registerButton {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    object-fit: contain;
    background-color: #00A3AD;
    padding: 10px 15px;
    margin-right: 100px;
    border: none;
    transition: 0.25s;
    cursor: pointer;
}
.registerButton:hover {
    background-color: #004E60;
    color: white;
    font-weight: bold;
}


.card {
    background-color: white;
    width: 600px;
    min-height: 800px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    display: grid;
    grid: 
    'title title'
    'ingredients recipe'
    'photo photo';
    grid-gap: 10px;
    line-height: 1.6;
    /* grid-template-columns: auto auto; */
}

.cardIngredients ul {
    text-align: left;
}

.cardRecipe ol {
    text-align: left;
    width: 80%;
}

.cardTitle {
    /* background-color: blue; */
    grid-area: title;
    font-size: 2em;
    margin: auto;
    border-bottom: 3px solid black;
}

.cardIngredients {
    /* background-color: red; */
    grid-area: ingredients;
}

.cardRecipe {
    /* background-color: green; */
    grid-area: recipe;
    border-left: 1px solid black;
}

.cardPhoto {
    /* background-color: yellow; */
    grid-area: photo;
    width:fit-content;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 250px;
}

.cardPhoto img {
    width: 500px;
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.spacer {
    height: 10px;
}

.footerSpacer {
    height: 30px;
}

.footer {
    background-color: #fff;
    width: 80%;
    margin: auto;
    text-align: center;
    height: 300px;
    border: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 1.6;
}
.footer_inside{
    width: 80%;
    margin: auto;
    display: grid;
    height: 300px;
    grid:
    'left1 right1'
    'left2 right2'
    'left3 right3'
    'left4 right4';

}

.fItem4 {grid-area: left1;}
.fItem5 {grid-area: left2;}
.fItem6 {grid-area: left3;}
.fItem1 {grid-area: right1;}
.fItem2 {grid-area: right2;}
.fItem3 {grid-area: right3;}
.fItem7 {grid-area: left4;}
.fItem8 {grid-area: right4;}
